@use "./tokens" as token;

.btn {
  border-radius: token.getRadius("12px");
  padding: token.getSpacing("8px") token.getSpacing("16px");
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: token.getFontSize("md");
  font-weight: token.getFontWeight("medium");
  line-height: token.getLineHeight("md");
}

.btn.btn-primary {
  border: 0;
  color: token.getColor("text", "bright");
  background: token.getColor("primary", "default");
}

.btn.btn-primary:hover {
  background: token.getColor("primary", "hover");
}

.btn.btn-primary:active {
  background: token.getColor("primary", "active");
}

.btn.btn-secondary {
  color: token.getColor("text", "dark");
  background: token.getColor("bg", "bright");
  border: 1px solid token.getColor("border", "default");
}
.btn.btn-secondary:hover {
  background: token.getColor("bg", "bright_darken100");
}
.btn.btn-secondary:active {
  background: token.getColor("bg", "bright_darken400");
}

.text-field {
  border-radius: token.getRadius("12px");
  padding: token.getSpacing("8px") token.getSpacing("16px");
  background: token.getColor("bg", "bright_darken200");
  border: 0;
  font-size: token.getFontSize("md");
  line-height: token.getLineHeight("md");
}
.text-field:hover {
  background: token.getColor("bg", "bright_darken300");
}
.text-field:focus {
  background: token.getColor("bg", "bright");
}

.text-field::placeholder {
  color: token.getColor("text", "placeholder");
  line-height: token.getLineHeight("md-lg");
}

.btn.btn-cancel {
  color: token.getColor("text", "neutral");
  background: transparent;
  border: 0;
  border-radius: 0;
  font-size: token.getFontSize("sm");
  line-height: token.getLineHeight("sm");
  font-weight: token.getFontWeight("regular");
  padding: token.getSpacing("8px") token.getSpacing("12px");
}
.btn.btn-cancel:hover {
  font-weight: token.getFontWeight("medium");
  text-decoration: underline;
  text-underline-offset: token.getSpacing("6px");
}
