$breakpoint-phone: 552px;
$breakpoint-tablet: 768px;
$breakpoint-laptop: 992px;
$breakpoint-pc: 1200px;
$breakpoint-desktop: 1540px;

$font: (
  "primary": "Inter",
);

$color: (
  "shadow": #0000004d,
  "border": (
    "default": #bcbcbd,
    "dark": #1b1c1e,
  ),
  "bg": (
    "bright": #fff,
    "bright_darken100": #e7e7e7,
    "bright_darken200": #eeeff0,
    "bright_darken300": #dcdee0,
    "bright_darken400": #bdbdbd,
    "dark": #0000004d,
  ),
  "primary": (
    "default": #6b3c9b,
    "hover": #844dba,
    "active": #5b2f87,
  ),
  "text": (
    "dark": #1b1c1e,
    "dark_lighten100": #3b3c3e,
    "bright": #fff,
    "placeholder": #5b5c5e,
    "neutral": #0f75b8,
  ),
  "input": (
    "default": #eeeff0,
    "hover": #dcdee0,
    "active": #1b1c1e,
  ),
);

$weight: (
  "regular": 400,
  "medium": 500,
);

$spacing: (
  "4px": 0.25rem,
  "6px": 0.375rem,
  "8px": 0.5rem,
  "12px": 0.75rem,
  "16px": 1rem,
  "20px": 1.25rem,
  "24px": 1.5rem,
  "28px": 1.75rem,
  "32px": 2rem,
  "36px": 2.25rem,
  "38px": 2.3125rem,
  "40px": 2.5rem,
  "44px": 2.75rem,
  "48px": 3rem,
);

$radius: (
  "4px": 0.25rem,
  "8px": 0.5rem,
  "12px": 0.75rem,
  "16px": 1rem,
  "20px": 1.25rem,
  "24px": 1.5rem,
  "28px": 1.75rem,
  "32px": 2rem,
  "36px": 2.25rem,
  "40px": 2.5rem,
);

$fontSize: (
  "vsm": 0.75rem,
  "sm": 0.875rem,
  "md": 1rem,
  "lg": 1.25rem,
);

$elementSize: (
  "lg": 4rem,
);

$lineHeight: (
  "vsm": 0.975rem,
  "sm": 1.4875rem,
  "md": 1.5rem,
  "md-lg": 1.6rem,
  "lg": 1.875rem,
);

$shadow: (
  "default": 0px 4px 16px 0px #00000012,
  "default2": 0px 0px 16px 0px #00000014,
);

//map getters
@function getFont($key) {
  @if map-has-key($font, $key) {
    @return map-get($font, $key);
  }
}
@function getColor($key, $type) {
  @if map-has-key($color, $key) {
    @return map-get(map-get($color, $key), $type);
  }
}
@function getFontWeight($key) {
  @if map-has-key($weight, $key) {
    @return map-get($weight, $key);
  }
}
@function getSpacing($key) {
  @if map-has-key($spacing, $key) {
    @return map-get($spacing, $key);
  }
}
@function getRadius($key) {
  @if map-has-key($spacing, $key) {
    @return map-get($spacing, $key);
  }
}
@function getFontSize($key) {
  @if map-has-key($fontSize, $key) {
    @return map-get($fontSize, $key);
  }
}
@function getElementSize($key) {
  @if map-has-key($elementSize, $key) {
    @return map-get($elementSize, $key);
  }
}
@function getLineHeight($key) {
  @if map-has-key($lineHeight, $key) {
    @return map-get($lineHeight, $key);
  }
}
@function getShadow($key) {
  @if map-has-key($shadow, $key) {
    @return map-get($shadow, $key);
  }
}
