<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Mindpal - Recruitment task</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="recruitment task" />
    <meta name="application-name" content="notes - recruitment task" />
    <meta name="color-scheme" content="light" />
    <meta name="author" content="Dawid Dowgiałło" />
  </head>
  <body>
    <!-- header -->
    <header>
      <button class="btn-scroll" id="scroll-up">
        <img
          src="<%= require('./assets/note.svg') %>"
          loading="eager"
          alt="A note"
          width="24px"
          height="24px"
        />
        <h1>Notes</h1>
      </button>
    </header>

    <!-- modal -->
    <dialog class="modal" id="modal">
      <div class="modal-container">
        <h2 class="modal-heading">Delete Note</h2>
        <p class="modal-body">Are you sure you want to delete this note?</p>
        <div class="modal-footer">
          <button
            autofocus
            class="btn btn-secondary modal-action-btn"
            id="modal-cancel"
          >
            Cancel
          </button>
          <button class="btn btn-primary modal-action-btn" id="modal-remove">
            Delete
          </button>
        </div>
      </div>
    </dialog>

    <!-- search bar-->
    <section class="search">
      <input
        class="text-field search-input"
        placeholder="Search notes..."
        id="search-notes"
        disabled
      />
    </section>

    <!-- no notes view-->
    <section class="container" id="container">
      <div class="details-wrapper">
        <div class="details">
          <img
            src="<%= require('./assets/information.svg') %>"
            loading="eager"
            alt="Information circle"
            class="information"
            width="64px"
            height="64px"
          />
          <h2 class="heading">No notes yet</h2>
          <p class="description">Add a note to keep track of your learnings.</p>
        </div>
        <button class="btn btn-secondary add-note" id="add-note">
          <img
            src="<%= require('./assets/note_add.svg') %>"
            alt=""
            loading="eager"
            width="24px"
            height="24px"
          />
          <span>Add Note</span>
        </button>
      </div>
    </section>
  </body>
</html>
