<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Mindpal - Recruitment task</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="recruitment task" />
    <meta name="application-name" content="notes - recruitment task" />
    <meta name="color-scheme" content="light" />
    <meta name="author" content="Dawid Dowgiałło" />
  </head>
  <body>
    <!-- header-->
    <header>
      <button class="btn-scroll">
        <img
          src="<%= require('./assets/note.svg') %>"
          loading="eager"
          alt="A note"
        />
        <h1>Notes</h1>
      </button>
    </header>
    <dialog class="modal" id="modal">
      <div class="modal-container">
        <h2 class="modal-heading">Delete Note</h2>
        <p class="modal-body">Are you sure you want to delete this note?</p>
        <div class="modal-footer">
          <button
            autofocus
            class="btn btn-secondary modal-action-btn"
            id="modal-cancel"
          >
            Cancel
          </button>
          <button class="btn btn-primary modal-action-btn" id="modal-remove">
            Delete
          </button>
        </div>
      </div>
    </dialog>
    <!-- search bar-->
    <section class="search">
      <input class="text-field search-input" placeholder="Search notes..." />
    </section>
    <!-- no notes view-->
    <section class="container" id="container">
      <div class="details-wrapper">
        <div class="details">
          <img
            src="<%= require('./assets/information.svg') %>"
            loading="eager"
            alt="Information circle"
            class="information"
          />
          <h2 class="heading">No notes yet</h2>
          <p class="description">Add a note to keep track of your learnings.</p>
        </div>
        <button class="btn btn-secondary add-note" id="add-note">
          <img
            src="<%= require('./assets/note_add.svg') %>"
            alt=""
            loading="eager"
          />
          <span>Add Note</span>
        </button>
      </div>
      <!-- <button class="btn btn-primary add-note-primary" id="add-new-note-primary">Add New</button>
      <section class="add-new-note-container">
        <div class="add-new-note-heading">
          <h2>Add new note</h2>
          <button class="btn btn-cancel">Cancel</button>
        </div>
        <div class="add-new-note-body">
          <input
            class="text-field"
            id="note-title"
            placeholder="Untitled Note"
          />
          <textarea
            class="text-field note-body-textarea"
            id="note-body"
            placeholder="Your note..."
          ></textarea>
          <button class="btn btn-primary add-new-note" id="add-note-btn">
            Add
          </button>
        </div>
      </section>
  
      <section class="note-tile">
        <div class="note-header">
          <h2 class="note-title">
            Note Title dfoys oyeroy eoryo ery weoryworywo ry oweyrwo y
          </h2>
          <div class="actions">
            <button class="action-btn edit-action" id="edit-note">
              <img
                src="<%= require('./assets/edit.svg') %>"
                alt="Edit note"
                loading="lazy"
              />
            </button>
            <button class="action-btn remove-action" id="remove-note">
              <img
                src="<%= require('./assets/remove.svg') %>"
                alt="Remove note"
                loading="lazy"
              />
            </button>
          </div>
        </div>
        <div class="note-body">
          <p>
            Note Body asudg ewr p ys orew hewoui gwio egwioew rwioy qwiye
            iowqyer iwoyriow
          </p>
        </div>
        <div class="note-footer">
          <p>May 22</p>
        </div>
      </section>
  
      <section class="note-tile">
        <div class="note-header">
          <h2 class="note-title">Note Title</h2>
          <div class="actions">
            <button class="action-btn edit-action" id="edit-note">
              <img
                src="<%= require('./assets/edit.svg') %>"
                alt="Edit note"
                loading="lazy"
              />
            </button>
            <button class="action-btn remove-action" id="remove-note">
              <img
                src="<%= require('./assets/remove.svg') %>"
                alt="Remove note"
                loading="lazy"
              />
            </button>
          </div>
        </div>
        <div class="note-body">
          <p>Note Body</p>
        </div>
        <div class="note-footer">
          <p>May 22</p>
        </div>
      </section>
  
      <section class="note-tile">
        <div class="note-header">
          <h2 class="note-title">Note Title</h2>
          <div class="actions">
            <button class="action-btn edit-action" id="edit-note">
              <img
                src="<%= require('./assets/edit.svg') %>"
                alt="Edit note"
                loading="lazy"
              />
            </button>
            <button class="action-btn remove-action" id="remove-note">
              <img
                src="<%= require('./assets/remove.svg') %>"
                alt="Remove note"
                loading="lazy"
              />
            </button>
          </div>
        </div>
        <div class="note-body">
          <p>Note Body</p>
        </div>
        <div class="note-footer">
          <p>May 22</p>
        </div>
      </section>
  
      <section class="note-tile">
        <div class="note-header">
          <h2 class="note-title">Note Title</h2>
          <div class="actions">
            <button class="action-btn edit-action" id="edit-note">
              <img
                src="<%= require('./assets/edit.svg') %>"
                alt="Edit note"
                loading="lazy"
              />
            </button>
            <button class="action-btn remove-action" id="remove-note">
              <img
                src="<%= require('./assets/remove.svg') %>"
                alt="Remove note"
                loading="lazy"
              />
            </button>
          </div>
        </div>
        <div class="note-body">
          <p>Note Body</p>
        </div>
        <div class="note-footer">
          <p>May 22</p>
        </div>
      </section>
  
      <section class="note-tile">
        <div class="note-header">
          <h2 class="note-title">Note Title</h2>
          <div class="actions">
            <button class="action-btn edit-action" id="edit-note">
              <img
                src="<%= require('./assets/edit.svg') %>"
                alt="Edit note"
                loading="lazy"
              />
            </button>
            <button class="action-btn remove-action" id="remove-note">
              <img
                src="<%= require('./assets/remove.svg') %>"
                alt="Remove note"
                loading="lazy"
              />
            </button>
          </div>
        </div>
        <div class="note-body">
          <p>Note Body</p>
        </div>
        <div class="note-footer">
          <p>May 22</p>
        </div>
      </section>
  
      <section class="note-tile">
        <div class="note-header">
          <h2 class="note-title">Note Title</h2>
          <div class="actions">
            <button class="action-btn edit-action" id="edit-note">
              <img
                src="<%= require('./assets/edit.svg') %>"
                alt="Edit note"
                loading="lazy"
              />
            </button>
            <button class="action-btn remove-action" id="remove-note">
              <img
                src="<%= require('./assets/remove.svg') %>"
                alt="Remove note"
                loading="lazy"
              />
            </button>
          </div>
        </div>
        <div class="note-body">
          <p>Note Body</p>
        </div>
        <div class="note-footer">
          <p>May 22</p>
        </div>
      </section> -->
    </section>

    <!-- dynamic content -->
  </body>
</html>
