@use "./styles/typography" as *;
@use "./styles/tokens" as token;
@use "./styles/design" as *;

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  padding: token.getSpacing("16px");
}

.btn-scroll {
  display: flex;
  align-items: center;
  border: 0;
  background: transparent;
  cursor: pointer;
  gap: token.getSpacing("8px");
}

.btn-scroll > h1 {
  font-weight: token.getFontWeight("medium");
  font-size: token.getFontSize("lg");
  line-height: token.getLineHeight("lg");
}

.search-input {
  width: 100%;
  margin-top: token.getSpacing("24px");
  background-image: url("./assets/search.svg");
  background-repeat: no-repeat;
  background-position: token.getSpacing("12px") 50%;
  padding: token.getSpacing("8px") token.getSpacing("12px")
    token.getSpacing("8px") token.getSpacing("48px");
}

.no-notes {
  margin-top: token.getSpacing("24px");
  display: flex;
  flex-direction: column;
  align-items: center;
}
.details {
  margin-top: token.getSpacing("38px");
  gap: token.getSpacing("12px");
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 token.getSpacing("20px");
  text-align: center;
}
.information {
  height: token.getElementSize("lg");
}
.no-notes > .details > .heading {
  font-weight: token.getFontWeight("medium");
  font-size: token.getFontSize("lg");
  line-height: token.getLineHeight("lg");
}
.no-notes > .details > .description {
  font-weight: token.getFontWeight("regular");
  font-size: token.getFontSize("md");
  line-height: token.getLineHeight("md-lg");
}
.no-notes > .add-note {
  margin-top: token.getSpacing("24px");
  gap: token.getSpacing("8px");
  font-weight: token.getFontWeight("medium");
}
