@use "./styles/typography" as *;
@use "./styles/tokens" as token;
@use "./styles/design" as *;

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.btn-scroll {
  display: flex;
  align-items: center;
  border: 0;
  background: transparent;
  cursor: pointer;
  gap: token.getSpacing("8px");
  padding: token.getSpacing("16px") token.getSpacing("16px") 0;
}

.btn-scroll > h1 {
  font-weight: token.getFontWeight("medium");
  font-size: token.getFontSize("lg");
  line-height: token.getLineHeight("lg");
}

.search {
  padding: 0 token.getSpacing("16px");
  margin-bottom: token.getSpacing("8px");
}

.search-input {
  width: 100%;
  margin-top: token.getSpacing("24px");
  background-image: url("./assets/search.svg");
  background-repeat: no-repeat;
  background-position: token.getSpacing("12px") 50%;
  padding: token.getSpacing("8px") token.getSpacing("12px")
    token.getSpacing("8px") token.getSpacing("48px");
}

//no notes view

.no-notes-container {
  padding: 0 token.getSpacing("16px");
  margin-top: token.getSpacing("24px");
  display: flex;
  flex-direction: column;
  align-items: center;
  //@TODO to remove later on
  display: none;
}
.details {
  margin-top: token.getSpacing("38px");
  gap: token.getSpacing("12px");
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 token.getSpacing("20px");
  text-align: center;
}
.information {
  height: token.getElementSize("lg");
}
.no-notes-container > .details > .heading {
  font-weight: token.getFontWeight("medium");
  font-size: token.getFontSize("lg");
  line-height: token.getLineHeight("lg");
}
.no-notes-container > .details > .description {
  font-weight: token.getFontWeight("regular");
  font-size: token.getFontSize("md");
  line-height: token.getLineHeight("md-lg");
}
.no-notes-container > .add-note {
  margin-top: token.getSpacing("24px");
  gap: token.getSpacing("8px");
  font-weight: token.getFontWeight("medium");
}

//notes view

.notes-container {
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  height: calc(100dvh - 130px);
  gap: token.getSpacing("16px");
  padding-top: token.getSpacing("16px");
}
.add-note-primary {
  width: 100%;
  margin: 0 token.getSpacing("16px");
}

//note tile
.note-tile {
  background: token.getColor("bg", "bright");
  border-radius: token.getRadius("12px");
  box-shadow: token.getShadow("default");
  margin: 0 token.getSpacing("16px");
  gap: token.getSpacing("12px");
  display: flex;
  flex-direction: column;
  padding: token.getSpacing("12px");
}
.note-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.note-tile:first-of-type {
  margin-top: token.getSpacing("8px");
}
.note-header > .note-title {
  font-weight: token.getFontWeight("medium");
  font-size: token.getFontSize("sm");
  line-height: token.getLineHeight("sm");
  color: token.getColor("text", "dark");
}
.note-header > .actions {
  gap: token.getSpacing("8px");
  display: flex;
}
.note-header > .actions > .action-btn {
  background: transparent;
  border: 0;
  cursor: pointer;
}
.note-body {
  font-size: token.getFontSize("sm");
  line-height: token.getLineHeight("sm");
  color: token.getColor("text", "dark_lighten100");
}
.note-footer {
  font-size: token.getFontSize("vsm");
  line-height: token.getLineHeight("vsm");
  color: token.getColor("text", "placeholder");
}

//modal
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(100% - 32px);
  border: 0;
  background: token.getColor("bg", "bright");
  padding: token.getSpacing("24px");
  border-radius: token.getRadius("16px");
  gap: token.getSpacing("24px");
}

.modal > .container {
  display: flex;
  flex-direction: column;
  gap: token.getSpacing("24px");
}

.modal-heading {
  font-weight: token.getFontWeight("medium");
  font-size: token.getFontSize("lg");
  line-height: token.getLineHeight("lg");
}

.modal-body {
  font-weight: token.getFontWeight("regular");
  line-height: token.getLineHeight("md-lg");
}

.modal-footer {
  display: flex;
  justify-content: space-between;
  gap: token.getSpacing("16px");
}

.modal-action-btn {
  width: 50%;
}

dialog::backdrop {
  background-color: token.getColor("bg", "dark");
}

//add new note
.add-new-note-container {
  padding: token.getSpacing("20px") token.getSpacing("16px");
  display: flex;
  flex-direction: column;
  gap: token.getSpacing("16px");
  box-shadow: token.getShadow("default2");
  border-width: 1px 0px 1px 0px;
  border-style: solid;
  border-color: token.getColor("bg", "bright_darken200");
}

.add-new-note-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.add-new-note-heading > h2 {
  font-weight: token.getFontWeight("medium");
  font-size: token.getFontSize("md");
  line-height: token.getLineHeight("md-lg");
}

.add-new-note-body {
  display: flex;
  flex-direction: column;
  gap: token.getSpacing("16px");
  position: relative;
}

.add-new-note.btn.btn-primary {
  position: absolute;
  bottom: 16px;
  right: 16px;
}

.note-body-textarea {
  resize: vertical;
  min-height: 210px;
}
